- content_for :sidebar do
  - if policy(task).show?
    = btn_to course_task_path(course, task) do
      = icon 'arrow-left', t('.back_to_task')

%h1= course.name
%h2= task.title

%h3= t '.ungraded_solutions'
%ul= render pending_solutions

%h3= t '.graded_solutions'
%ul= render graded_solutions
