- content_for :sidebar do
  - if policy(task).show?
    .back= link_to t('.back_to_task'), course_task_path(course, task)

%h1= course.name
%h2= task.title

%h3= t '.ungraded_solutions'
%ul= render pending_solutions

%h3= t '.graded_solutions'
%ul= render graded_solutions
