= simple_form_for [course, lecture] do |f|
  = f.error_notification

  = f.input :title, label: 'Tytuł'
  = f.input :content, label: 'Treść'
  = f.input :attachment, label: 'Załącznik'

  = f.button :submit, submit
