.row
  .col-md-3
    - if policy(lecture).show?
      .back
        = btn_to [course, lecture] do
          = icon 'arrow-left', 'Wróć'

    - if policy(lecture).destroy?
      .delete
        = btn_to course_lecture_path(course, lecture), method: :delete do
          = icon 'trash', 'Usuń wykład'

  .col-md-9
    %h1= course.name
    %h2 Edytuj wykład
    = render 'form', submit: 'Zapisz zmiany'
