.row
  .col-md-3
    - if policy(lecture).show?
      .back
        = link_to [course, lecture], class: 'btn btn-default' do
          = icon 'arrow-left', 'Wróć'

    - if policy(lecture).destroy?
      .delete
        = link_to course_lecture_path(course, lecture), method: :delete, class: 'btn btn-default' do
          = icon 'trash', 'Usuń wykład'

  .col-md-9
    %h1= course.name
    %h2 Edytuj wykład
    = simple_form_for [course, lecture] do |f|
      = render 'fields', f: f
      = f.button :submit, 'Zapisz zmiany', class: 'btn-primary'
