.row
  .col-md-3
    - if policy(course).show?
      .back
        = link_to course, class: 'btn btn-default' do
          = icon 'arrow-left', 'Wróć do kursu'

    - if policy(Lecture.new(course: course)).new?
      .add
        = link_to new_course_lecture_path(course), class: 'btn btn-primary' do
          = icon 'plus', 'Dodaj wykład'

  .col-md-9
    %h1= course.name
    %h2 Wykłady
    %ul.lectures= render lectures
