.row
  .col-md-3
    = link_to course_lectures_path(course), class: 'btn btn-default' do
      = icon 'arrow-left', 'Wróć'

  .col-md-9
    %h1= course.name
    %h2 Utwórz nowy wykład
    = simple_form_for [course, lecture] do |f|
      = render 'fields', f: f
      = f.button :submit, 'Utwórz wykład', class: 'btn-primary'
