- content_for :sidebar do
  - if policy(lecture).edit?
    .edit= link_to t(:edit), [:edit, course, lecture]

- breadcrumb lecture

.page-header
  %h1= course.name

%h2= lecture.title

.lecture= lecture.content_formatted
- if lecture.attachment?
  = link_to lecture.attachment.url, target: :_blank do
    = icon 'paperclip', lecture.attachment_file_name
    = lecture.attachment_file_size_formatted
