- if solution
  = link_to 'Moje rozwiązanie', solution

- if policy(Solution.new(task: task)).new?
  = simple_form_for Solution.new(task: task) do |f|
    = f.input :task_id, as: :hidden
    = f.input :content, label: 'Rozwiązanie', autofocus: true
    = f.button :submit, 'Wyślij', class: 'btn-primary'
