.row
  .col-md-3
    - if policy(task).show?
      .back
        = link_to course_task_path(course, task), class: 'btn btn-default' do
          = icon 'arrow-left', 'Wróć'
    - if policy(task).destroy?
      .delete
        = link_to course_task_path(course, task), method: :delete, class: 'btn btn-default' do
          = icon 'trash', 'Usuń zadanie'

  .col-md-9
    %h1= course.name
    %h2 Edytuj zadanie
    = simple_form_for [course, task] do |f|
      = render 'fields', f: f
      = f.button :submit, 'Zapisz zmiany'
