.row
  .col-md-3
    - if policy(task).show?
      .back
        = btn_to course_task_path(course, task) do
          = icon 'arrow-left', 'Wróć'
    - if policy(task).destroy?
      .delete
        = btn_to course_task_path(course, task), method: :delete do
          = icon 'trash', 'Usuń zadanie'

  .col-md-9
    %h1= course.name
    %h2 Edytuj zadanie
    = render 'form'
