.row
  .col-md-3
    .back
      = link_to course_task_path(course, task), class: 'btn btn-default' do
        %i.fa.fa-arrow-left
        Wróć
    .delete
      = link_to course_task_path(course, task), method: :delete, class: 'btn btn-default' do
        %i.fa.fa-trash
        Usuń zadanie

  .col-md-9
    %h1= course.name
    %h2 Edytuj zadanie
    = form_for [course, task] do |f|
      = render 'fields', f: f
      = f.submit 'Zapisz zmiany', class: 'btn btn-primary'
