- content_for :sidebar do
  - if policy(task).show?
    .back= link_to t(:back), course_task_path(course, task)

  - if policy(task).destroy?
    .delete= link_to t('.delete'), course_task_path(course, task), method: :delete

%h1= course.name
%h2= t '.title'
= render 'form'
