.row
  .col-md-3
    - if policy(course).show?
      .back
        = btn_to course_path(course) do
          = icon 'arrow-left', 'Wróć do kursu'
    - if policy(Task.new(course: course)).new?
      .add
        = btn_to new_course_task_path(course), context: :primary do
          = icon 'plus', 'Dodaj zadanie'
    - if course.has_student? current_user
      Twój wynik:
      .earned-points= course.points_earned_by_enrollment(current_enrollment)
      \/
      .max-points= course.total_points

  .col-md-9
    %h1= course.name
    %h2 Zadania
    %ul.tasks= render tasks
