- content_for :sidebar do
  - if policy(Task.new(course: course)).new?
    .new= link_to t('.add_task'), [:new, course, :task]

  - if course.has_student? current_user
    .score
      = t '.your_score'
      .earned-points= course.points_earned_by_enrollment(current_enrollment)
      \/
      .max-points= course.total_points

- breadcrumb :tasks, course

.page-header
  %h1= course.name

%h2= t '.title'

%ul.tasks= render tasks
