.row
  .col-md-3
    .back
      = link_to course_path(course), class: 'btn btn-default' do
        = icon 'arrow-left', 'Wróć do kursu'
    - if current_user? course.teacher
      .add
        = link_to new_course_task_path(course), class: 'btn btn-primary' do
          = icon 'plus', 'Dodaj zadanie'
    - if course.has_student? current_user
      Twój wynik:
      .earned-points= course.earned_points_by current_user
      \/
      .max-points= course.points

  .col-md-9
    %h1= course.name
    %h2 Zadania
    %ul.tasks= render tasks
