- content_for :sidebar do
  - if policy(task).edit?
    .edit= link_to t(:edit), [:edit, course, task]

  - if policy(task).list_solutions?
    .solutions= link_to t('.solutions'), [course, task, :solutions]
    .avg-score
      = bs_panel t('.average_score') do
        = task.average_score

  .points
    = t '.points_to_earn'
    = task.points

- breadcrumb task

.page-header
  %h1= task.title

.desc= task.description_formatted
= render 'solution' if current_user.enrolled_in? course
