.row
  .col-md-3
    .back
      = link_to course_tasks_path(course), class: 'btn btn-default' do
        = icon 'arrow-left', 'Wróć do listy zadań'
    - if current_user? course.teacher
      .edit
        = link_to edit_course_task_path(course, task), class: 'btn btn-default' do
          = icon 'edit', 'Edytuj'
      .solutions
        = link_to course_task_solutions_path(course, task), class: 'btn btn-default' do
          Rozwiązania
      .avg-score
        Przeciętny wynik:
        = task.average_score
    .points
      Punktów do zdobycia:
      = task.points

  .col-md-9
    %h1= course.name
    %h2= task.title
    .desc= task.description_formatted
    = render 'solution' if current_user.enrolled_in? course
