.row
  .col-md-3
    - if policy(course).list_tasks?
      .back
        = btn_to course_tasks_path(course) do
          = icon 'arrow-left', 'Wróć do listy zadań'

    - if policy(task).edit?
      .edit
        = btn_to edit_course_task_path(course, task) do
          = icon 'edit', 'Edytuj'

    - if policy(task).list_solutions?
      .solutions
        = btn_to course_task_solutions_path(course, task) do
          Rozwiązania
      .avg-score
        Przeciętny wynik:
        = task.average_score

    .points
      Punktów do zdobycia:
      = task.points

  .col-md-9
    %h1= course.name
    %h2= task.title
    .desc= task.description_formatted
    = render 'solution' if current_user.enrolled_in? course
