.row
  .col-md-3
    = link_to course_task_path(course, task), class: 'btn btn-default' do
      = icon 'arrow-left', 'Wróć do zadania'

  .col-md-9
    %h1= course.name
    %h2= task.title

    %h3 Rozwiązania oczekujące na sprawdzenie
    %ul= render pending_solutions

    %h3 Ocenione rozwiązania
    %ul= render graded_solutions
