- breadcrumb :users

%h1= t '.title'

- if users_requesting_upgrade.any?
  %h2= t '.users_requesting_upgrade'
  %ul= render users_requesting_upgrade

%h2= t '.teachers'
%ul= render teachers

%h2= t '.students'
%ul= render students
