- content_for :sidebar do
  - if policy(User).index?
    .back
      = btn_to users_path do
        = icon 'arrow-left', t('.back_to_users')

  .center
    #avatar= user.gravatar
    .email
      = mail_to user.email

%h1= user.name

- if user.teacher?
  %ul.courses= render user.teacher_courses

- if user.requesting_upgrade? && policy(:upgrade).update?
  %p= t '.upgrade_request_pending'
  = btn_to user_upgrade_path(user), context: :success, method: :patch do
    = icon 'check', t('.approve')

- if user.requesting_upgrade? && policy(:upgrade).destroy?
  = btn_to user_upgrade_path(user), context: :danger, method: :delete do
    = icon 'remove', t('.reject')
