.row
  .col-md-3
    - if current_user && current_user.admin?
      .back
        = link_to users_path, class: 'btn btn-default' do
          = icon 'arrow-left', 'Wróć do listy użytkowników'
    .center
      #avatar
        = gravatar_for user
      .email
        %a{ href: "mailto:#{user.email}" }= user.email

  .col-md-9
    %h1= user.name

    - if user.teacher?
      %ul.courses= render user.teacher_courses

    - if user.requesting_upgrade? && current_user && current_user.admin?
      %p Ten użytkownik chce uzyskać uprawnienia nauczyciela
      = link_to upgrade_user_path(user), method: :patch, class: 'btn btn-success' do
        = icon 'check', 'Zatwierdź'
      = link_to upgrade_user_path(user), method: :delete, class: 'btn btn-danger' do
        = icon 'remove', 'Odrzuć'
