- content_for :sidebar do
  .center
    #avatar= user.gravatar
    .email
      = mail_to user.email

- breadcrumb user

%h1= user.name

- if user.teacher?
  %ul.courses= render user.teacher_courses

- if user.requesting_upgrade? && policy(:upgrade).update?
  %p= t '.upgrade_request_pending'
  .approve= link_to t('.approve'), [user, :upgrade], method: :patch

- if user.requesting_upgrade? && policy(:upgrade).destroy?
  .reject= link_to t('.reject'), [user, :upgrade], method: :delete
