- if courses.any?
  %h2 Kursy na które jesteś zapisany
  %ul.courses= render courses
- else
  Nie zapisałeś się jeszcze na żaden kurs.
  - if policy(Course).index?
    = link_to 'Przeglądaj kursy', courses_path

- if teacher_courses.any?
  %h2 Kursy które prowadzisz
  %ul.courses= render teacher_courses

- if policy(Course).new?
  .new_course= btn_to 'Utwórz nowy kurs', new_course_path, context: :primary

- if policy(Category).new?
  = btn_to 'Zarządzaj kategoriami', categories_path

- if policy(User).index?
  = btn_to 'Zarządzaj użytkownikami', users_path
