- if courses.any?
  %h2= t '.student_courses'
  %ul.courses= render courses
- else
  = t '.no_student_courses'
  - if policy(Course).index?
    = link_to t('.browse_courses'), courses_path

- if teacher_courses.any?
  %h2= t '.teacher_courses'
  %ul.courses= render teacher_courses

- if policy(Course).new?
  .new_course= btn_to t('.add_course'), new_course_path, context: :primary

- if policy(Category).new?
  = btn_to t('.manage_categories'), categories_path

- if policy(User).index?
  = btn_to t('.manage_users'), users_path
