= simple_form_for course do |f|
  = f.error_notification

  = f.association :category, label: 'Kategoria', prompt: 'Wybierz kategorię'
  = f.input :name, label: 'Nazwa'
  = f.input :desc, label: 'Opis'

  = f.button :submit, submit
