.row
  .col-md-3
    - if policy(course).show?
      .back
        = btn_to course do
          = icon 'arrow-left', 'Wróć'

    - if policy(course).destroy?
      .delete
        = btn_to course_path(course), method: :delete do
          = icon 'trash', 'Usuń kurs'

  .col-md-9
    %h1 Edytuj kurs
    = render 'form', submit: 'Zapisz zmiany'
