.row
  .col-md-3
    - if policy(course).show?
      .back
        = btn_to course do
          = icon 'arrow-left', 'Wróć'

    - if policy(course).destroy?
      .delete
        = btn_to course_path(course), method: :delete do
          = icon 'trash', 'Usuń kurs'

  .col-md-9
    %h1 Edytuj kurs
    = simple_form_for course do |f|
      = render 'fields', f: f
      = f.button :submit, 'Zapisz zmiany'
