.row
  .col-md-3
    .back
      = link_to course, class: 'btn btn-default' do
        = icon 'arrow-left', 'Wróć'
    .delete
      = link_to course_path(course), method: :delete, class: 'btn btn-default' do
        = icon 'trash', 'Usuń kurs'

  .col-md-9
    %h1 Edytuj kurs
    = simple_form_for course do |f|
      = render 'fields', f: f
      = f.button :submit, 'Zapisz zmiany', class: 'btn-primary'
