.row
  .col-md-3
    = link_to root_path, class: 'btn btn-default' do
      = icon 'arrow-left', 'Wróć'

  .col-md-9
    %h1 Utwórz nowy kurs
    = simple_form_for course do |f|
      = render 'fields', f: f
      = f.button :submit, 'Utwórz kurs'
