- content_for :sidebar do
  - if policy(category).show?
    .category= link_to category.name, category

  - if policy(course).edit?
    .edit= link_to t(:edit), [:edit, course]

  - if policy(course).enroll?
    .enroll= button_to t('.enroll'), [course, :students]

  - if policy(course).list_students?
    .students= link_to t('.students'), [course, :students]

  - if policy(Lecture.new(course: course)).new?
    .new= link_to t('.add_lecture'), [:new, course, :lecture]

  - if policy(Task.new(course: course)).new?
    .new= link_to t('.add_task'), [:new, course, :task]

  - if course.has_student? current_user
    .score.panel.panel-default
      .panel-heading
        %h3.panel-title= t '.your_score'
      .panel-body
        #{course.points_earned_by_student(current_user)} / #{course.total_points}

- breadcrumb course

.page-header
  %h1= course.name

.teacher
  %i= link_to_if policy(course.teacher).show?, course.teacher.name, course.teacher

.desc= course.description_formatted

- if policy(course).list_lectures?
  #lectures.panel.panel-default
    .panel-heading
      %h2.panel-title= t '.lectures'

    .list-group= render lectures

- if policy(course).list_tasks?
  #tasks.panel.panel-default
    .panel-heading
      %h2.panel-title= t '.tasks'

    .list-group= render tasks
