- content_for :sidebar do
  - if policy(category).show?
    .category= link_to category.name, category

  - if policy(course).edit?
    .edit= link_to t(:edit), [:edit, course]

  - if policy(course).enroll?
    .enroll= button_to t('.enroll'), [course, :students]

  - if policy(course).list_students?
    .students= link_to t('.students'), [course, :students]

  - if policy(course).list_lectures?
    .lectures= link_to t('.lectures'), [course, :lectures]

  - if policy(course).list_tasks?
    .tasks= link_to t('.tasks'), [course, :tasks]

- breadcrumb course

%h1= course.name
.teacher
  %i= link_to_if policy(course.teacher).show?, course.teacher.name, course.teacher

.desc= course.description_formatted
