.row
  .col-md-3
    - if policy(category).show?
      = link_to category, class: 'btn btn-default' do
        = icon 'arrow-left', 'Wróć'

  .col-md-9
    %h1 Edytuj kategorię
    = simple_form_for category do |f|
      = render 'fields', f: f
      = f.button :submit, 'Zapisz zmiany'
