.row
  .col-md-3
    - if policy(Course).index?
      = btn_to courses_path do
        = icon 'arrow-left', 'Wróć do wszystkich kursów'

  .col-md-9
    %h1 Kategorie

    - if policy(Category).new?
      = btn_to new_category_path, context: :primary do
        = icon 'plus', 'Dodaj nową kategorię'

    %ul= render categories
