.row
  .col-md-3
    = link_to categories_path, class: 'btn btn-default' do
      = icon 'arrow-left', 'Wróć'

  .col-md-9
    %h1 Utwórz nową kategorię
    = simple_form_for category do |f|
      = render 'fields', f: f
      = f.button :submit, 'Utwórz kategorię', class: 'btn-primary'
