- content_for :sidebar do
  - if policy(Category).index?
    .back= link_to t('.back_to_categories'), categories_path

%h1= category.name

- if policy(category).edit?
  .edit= link_to t(:edit), [:edit, category]

- if policy(category).destroy?
  .delete= link_to t(:delete), category, method: :delete

%ul= render category.courses
