- content_for :sidebar do
  - if policy(solution).destroy?
    .delete= link_to t('.delete'), solution, method: :delete

- breadcrumb solution

= render 'task_and_solution'
= simple_form_for solution do |f|
  = f.error_notification
  = f.input :earned_points, input_html: { min: 0, max: task.points, value: 0 },
    hint: "(0 - #{task.points})", required: true, autofocus: true
  = f.button :submit
