.row
  .col-md-3
    - if policy(task).list_solutions?
      .back
        = link_to course_task_solutions_path(task.course, task), class: 'btn btn-default' do
          = icon 'arrow-left', 'Wróć do listy rozwiązań'

    - if policy(solution).destroy?
      .delete
        = link_to solution_path(solution), method: :delete, class: 'btn btn-default' do
          = icon 'trash', 'Usuń rozwiązanie'

  .col-md-9
    = render 'task_and_solution'
    = simple_form_for solution do |f|
      = f.error_notification
      = f.input :earned_points, input_html: { min: 0, max: task.points, value: 0 },
        label: "Uzyskane punkty (0 - #{task.points})", required: true, autofocus: true
      = f.button :submit, 'Oceń', class: 'btn-primary'
