.row
  .col-md-3
    - if policy(task).list_solutions?
      .back
        = btn_to course_task_solutions_path(task.course, task) do
          = icon 'arrow-left', 'Wróć do listy rozwiązań'

    - if policy(solution).destroy?
      .delete
        = btn_to solution_path(solution), method: :delete do
          = icon 'trash', 'Usuń rozwiązanie'

    - if policy(task.course).list_tasks?
      = btn_to course_tasks_path(task.course) do
        = icon 'arrow-left', 'Wróć do listy zadań'

  .col-md-9
    = render 'task_and_solution'
    %h3 Uzyskane punkty
    .points= solution.earned_points_formatted
