- content_for :sidebar do
  - if policy(solution).destroy?
    .delete= link_to t('.delete'), solution, method: :delete

  - if policy(solution).update?
    .author
      = bs_panel t('.author') do
        = solution.student_name

  .points
    = bs_panel t('.points_to_earn') do
      = task.points

  .score
    = bs_panel t('.score') do
      = solution.earned_points_formatted

- breadcrumb solution

= render 'task_and_solution'
