.row
  .col-md-3
    - if current_user.teacher?
      .back
        = link_to solutions_course_task_path(task.course, task), class: 'btn btn-default' do
          = icon 'arrow-left', 'Wróć do listy rozwiązań'
      .delete
        = link_to solution_path(solution), method: :delete, class: 'btn btn-default' do
          = icon 'trash', 'Usuń rozwiązanie'
    - else
      = link_to course_tasks_path(task.course), class: 'btn btn-default' do
        = icon 'arrow-left', 'Wróć do listy zadań'

  .col-md-9
    = render 'task_and_solution'
    %h3 Uzyskane punkty
    .points= solution.earned_points_formatted
